@{
    ViewData["Title"] = "Eliminar Producto";
}
<h2> Eliminar Producto</h2>
<p>¿Estás segura de que deseas eliminar este producto?</p>
<form method="post">
    <button type="submit">Sí, eliminar</button>
    <a href="/Vendedor/MisProductos">Cancelar</a>
</form>