@{
    ViewData["Title"] = "Panel de Vendedora";
}
<h2> Panel de Vendedora LunaBisú</h2>
<p>Desde aquí puedes administrar tus productos y ver tus ventas.</p>
<ul>
    <li><a href="/Vendedor/MisProductos">Mis Productos</a></li>
</ul>