@{
    ViewData["Title"] = "Inicio LunaBisú";
}

<div class="text-center">
    <h1 style="color:#e91e63;">Bienvenida a LunaBisú </h1>
    <p>Tu espacio creativo para gestionar productos, pedidos y reseñas.</p>

    <a class="btn btn-primary" asp-controller="Login" asp-action="Index">Iniciar sesión</a>
    <a class="btn btn-outline-secondary" asp-controller="Producto" asp-action="Index">Ver catálogo</a>
</div>